:root {
  --background-color: #2b2b2b;
  --secondary-background-color: #1a1a3d;

  --text-color: #e5e5e5;
  --secondary-text-color: #6a8eae;

  --link-color: #ffc107;
  --link-hover-color: #6a8eae;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

canvas {
  background-color: var(--background-color);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* navbar */
.navbar {
  background-color: var(--secondary-background-color);
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-links-list {
  background-color: var(--secondary-background-color);
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  min-width: 15rem;
  height: 100vh;
}

.nav-links-list.active {
  display: flex;
}

.nav-links-list > li {
  display: flex;
  flex-grow: 1;
}

.nav-links-list > li > a {
  text-decoration: none;
  color: var(--link-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-list > li > a:hover {
  color: var(--link-hover-color);
  box-shadow: inset 0 -5px 0 0 var(--link-hover-color);
}

.nav-links-toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2rem;
  z-index: 3;
}

.nav-links-toggle-button.active > * {
  position: absolute;
  top: 1rem;
  transform: rotate(45deg);
}

.nav-links-toggle-button.active > *:first-child {
  transform: rotate(135deg);
}

.nav-links-toggle-button > * {
  background-color: var(--link-color);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
}

/* main */
main {
  top: 10rem;
  position: relative;
  z-index: 5;
}

/* medium+ screens */
@media screen and (min-width: 768px) {
  .nav-links-list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    max-width: 35rem;
    height: 5rem;
  }

  .nav-links-toggle-button {
    display: none;
  }
}

/* test */
section {
  height: 50rem;
}
